.spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #df678c;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(355deg);
    }
}